node_modules/
client/node_modules/
server/node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.*
!.env.example
!client/.env.example
!server/.env.example

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist/
client/dist/
server/dist/
dist-ssr/
